<footer>
  <div class="container">
    <div class="row">
      <div class="col-2"><img src="../../../assets/logos/escudo_estado_mexico.png" width="110" height="130"></div>
      <div class="col-7">
        <ul class="foote_bottom_ul_amrc">
          <li><a routerLink="/home">Home </a></li>
          <li><a routerLink="/ayuda">Ayuda</a></li>
          <li><a routerLink="/contacto">Contacto</a></li>
        </ul>

        <p class="text-center">Copyright @2021 |  <a href="http://www.tese.edu.mx/ccyt_redirect/">TESE</a></p>
        <ul class="social_footer_ul">
          <p>Av. Tecnológico S/N C.P. 55210 Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México</p>
        </ul>
        <p class="text-center">Teléfono: 01 (55) 50 00 23 00</p>
        <p class="text-center">E-mail: webmaster_tese@tese.edu.mx</p>
        <ul class="social_footer_ul">
        </ul>
      </div>
    </div>
  </div>
</footer>
