<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" >
      <p class="text-light" >
        <img src="../../../assets/logos/Logo_tese.jpg" width="65" height="65"> &nbsp; <FONT SIZE="6">Sistema de Tutorias</FONT>
      </p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0" *ngIf="user$ | async as user" >
        <li class="nav-item" *ngIf="user">
          <a class="nav-link text-light" (click)="onLogout()">Logout</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link text-light" routerLink="/login/registro">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">{{user?.email}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>







